.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 250px;
  min-height: 200px;
  margin: 0px auto;
  padding: 30px;
  position: relative;
}

.modal button {
  width: 90px;
  height: 25px;
  margin-left: 10px;
}

.modal .button-row {
  top: 160px;
  position: relative;
  padding: 10px;
}
